@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    color: whitesmoke;
}

.custom-gradient {
    background: linear-gradient(270deg, #0F4392 0%, #001D3D 100%);
}